body {
    background-color: lightcoral;
    text-align: center;
    border-radius: 10px;
}
#numberOfMK {
    text-align: center;
    width: 75px;
}
#convertButton {
    background-color: lightcoral;
}