body {
    background-color: lightcoral;
    text-align: center;
}
#numberOfMK {
    width: 150px;
    height: 20px;
    background-color: lightblue;
    border: double black 6px;
    padding: 3.5px 0 3.5px 0;
}
#FahrenheitOrCelsius {
    height: auto;
    padding: 5px 5px 5px 5px;
    border: double black 6px;
}
#convertButton {
    background-color: lightgreen;
    padding: 10px 15px 10px 15px;
    border-radius: 80px;
    border: solid black 8px;
}
#finalTemp {
    text-align: center;
    border: solid darkcyan 4px;
    border-radius: 100px 100px 100px 100px;
    background-color: lightblue;
}